<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-1">
    <%= form_tag analysis_index_path, method: 'get', id: 'search-form' do %>
      <div>
        <%= label_tag :subreddit %>
        <%= text_field_tag :subreddit,
                            params[:subreddit],
                            placeholder: 'ex. gifs',
                            class: 'form-control'%>
      </div>
      <br>
      <div>
        <%= label_tag :minimum_upvotes %>
        <%= text_field_tag :minimum_upvotes, params[:min_upvotes], placeholder: "ex. 100", class: 'form-control' %>
      </div>
      <br>
      <div>
        <%= submit_tag "Analyze", class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
