<div class="row">
  <div class="col-xs-12 col-sm-5 col-sm-offset-1">
    <%= simple_form_for @analysis,
        url: analysis_index_path do |f| %>
      <%= f.input :subreddit %>
      <%= f.input :min_upvotes %>
      <%= f.input :time_zone, label: 'Time zone', priority: /US/ %>
      <%= f.button :button, "Analyze".html_safe, data: { disable_with: "<i class='fa fa-spinner fa-pulse fa-fw'></i> Analyzing..." } %>
    <% end %>
  </div>
</div>
