<div class="container-fluid">
<% if @result.nil? != true %>
  <div class="row">
    <div class="col-xs-12 col-sm-11 col-sm-offset-1 analysis-container">
      <h3><%= "Analyzed #{@result.count} posts"%></h3>
  <% if @result.count == 0 %>
      <h3>Try lowering 'Minimum upvotes' for better results.</h3>
    </div>
  </div>
</div>
  <% else %>
    <% by_hour =  @result.group_by_hour_of_day(:post_date) %>
    <% votes_average = by_hour.average(:ups) %>
    <% votes_by_day = @result.group_by_day_of_week(:post_date, format: "%a").sum(:ups) %>
    <% day = votes_by_day.key(votes_by_day.values.max) %>
    <% hour = votes_average.key(votes_average.values.max).to_s %>
      <div class="col-xs-offset-1 suggestion-container">
        <h4>Suggested Post Time:</h4>
        <ul>
          <li><p><%= DateTime.strptime("#{day} #{hour}", '%a %H').strftime('%A at %l:00 %P') %></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="chart-container" style="background-color: #ecfef9;">
  <div class="container-fluid">
  <%= area_chart by_hour.sum(:ups), xtitle: 'Hour of the Day',
                 ytitle: 'Total Upvotes', label: 'Upvotes'%>
  </div>
</div>
<div class="chart-container" style="background-color: #ecf2fe;">
  <div class="container-fluid">
  <%= line_chart [ { name: 'Average Upvotes per Post', data: votes_average },
                   { name: 'Total Comments', data: by_hour.sum(:num_comments) },
                   { name: 'Average Comments per Post', data: by_hour.average(:num_comments) }
                 ],  xtitle: 'Hour of the Day', ytitle: 'Activity'%>
  </div>
</div>
<div class="chart-container" style="background-color: #feecfd;">
  <div class="container-fluid">
  <%= column_chart votes_by_day,
                   xtitle: 'Day of the Week', ytitle: 'Total Upvotes',
                   label: 'Upvotes'%>
  </div>
</div>
  <% end %>
<% end %>
