<h1>Enter a subreddit to find the best Viral time</h1>
<%= render 'form' %>
<hr>
<% if @result.nil? != true %>
  <div class="row">
    <div class="container-fluid analysis-container">
      <h3><%= "Analyzed #{@result.count} posts"%></h3>
      <br>
      <h4>Suggested Post Times:</h4>

    </div>
  </div>
  <% @by_hour =  @result.group_by_hour_of_day(:post_date) %>
  <div class="container-fluid chart-container" style="background-color: #ecfef9;">
    <%= area_chart @by_hour.sum(:ups), xtitle: 'Hour of the Day',
                   ytitle: 'Total Upvotes', label: 'Upvotes'%>
  </div>
  <div class="container-fluid chart-container" style="background-color: #ecf2fe;">
    <%= line_chart [ { name: 'Average Upvotes per Post', data: @by_hour.average(:ups) },
                     { name: 'Total Comments', data: @by_hour.sum(:num_comments) },
                     { name: 'Average Comments per Post', data: @by_hour.average(:num_comments) }
                   ],  xtitle: 'Hour of the Day', ytitle: 'Activity'%>
  </div>
  <div class="container-fluid chart-container" style="background-color: #feecfd;">
    <%= column_chart @result.group_by_day_of_week(:post_date, format: "%a").count,
                     xtitle: 'Day of the Week', ytitle: 'Number of Posts',
                     label: 'Number of Posts'%>
  </div>
<% end %>
