<div class="container-fluid main-content">
  <h1>Enter a subreddit to find the best Viral time</h1>
  <%= render 'form' %>
  <hr>
  <% if @result.nil? != true %>
    <% by_hour =  @result.group_by_hour_of_day(:post_date) %>
    <% votes_average = by_hour.average(:ups) %>
    <% votes_by_day = @result.group_by_day_of_week(:post_date, format: "%a").count %>
    <div class="row">
      <div class="container-fluid analysis-container">
        <h3><%= "Analyzed #{@result.count} posts"%></h3>
        <br>
        <h4>Suggested Post Time:</h4>
        <% day = votes_by_day.key(votes_by_day.values.max) %>
        <% hour = votes_average.key(votes_average.values.max).to_s %>
        <ul>
          <li><p><%= DateTime.strptime("#{day} #{hour}", '%a %I').strftime('%A at %l:00 %P') %></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid chart-container" style="background-color: #ecfef9;">
      <%= area_chart by_hour.sum(:ups), xtitle: 'Hour of the Day',
                     ytitle: 'Total Upvotes', label: 'Upvotes'%>
    </div>
    <div class="container-fluid chart-container" style="background-color: #ecf2fe;">
      <%= line_chart [ { name: 'Average Upvotes per Post', data: votes_average },
                       { name: 'Total Comments', data: by_hour.sum(:num_comments) },
                       { name: 'Average Comments per Post', data: by_hour.average(:num_comments) }
                     ],  xtitle: 'Hour of the Day', ytitle: 'Activity'%>
    </div>
    <div class="container-fluid chart-container" style="background-color: #feecfd;">
      <%= column_chart votes_by_day,
                       xtitle: 'Day of the Week', ytitle: 'Number of Posts',
                       label: 'Number of Posts'%>
    </div>
  <% end %>
</div>
